.LandingPage{
    position: relative;
    background-color: #1E1C32;
    width: 100%;
    top: 100px;
    height: 100vh;
    
    color: white;


    .lab-edit{
        margin-top: 35px;
        margin-left: 250px;
        display: flex;
        flex-direction: row;
        
      .lab-edit1{
          margin-left: 342px;
      }

      .lab-edit2{
        margin-left: 320px;
      }
    }

    .welcome-content{

        margin-top: 65px;
        margin-left: 100px;
        

        .logo-edit1{
           color: #ae73e6;
        }

        h1{
            font-size: 38px;
            color: white;
            line-height: 45px;
        }
        p{
            font-size: 24px;
        }
    }

  

    
}