.ProfilePageBody{
    background: #3B3763;
    color: white;
    padding: 3% 15%;
}

.ProfilePageTitle{
    font-size: 3rem;
    font-weight: 900;
}

.ProfilePageLeft{
   background: url("../../assets/ProfilePage/RectangleOne.png");
   background-repeat: no-repeat;
   padding: 4%;
   text-align: center;
   font-weight: 900;
}

.ProfilePageRight{
   background: url("../../assets/ProfilePage/RectangleTwo.png");
   background-repeat: no-repeat;
   padding: 5%;
   width: 60%;
}

.PastTransactionsTitle{
    font-size: 2rem;
    font-weight: 900;
    
}

.BodyProfile{
    text-align: left;
    margin: 3% 0%;
}

.inputComponent{
    width: 100%;
    border: white 2px none;
    border-radius: 5px;
    padding: 2%;
    color: black;
    font-weight: 500;
}

.TransactionLogs{
    display: flex;
    justify-content: space-between;
    background: #68629E;
    padding: 4%;
    border: #fff 0px none;
    border-radius: 10px;
    margin: 3% 0%;

     
}

.PastTransactionsLogs{
    width: 40%;
}


.PastTransactionsName{
    
}