@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import '~antd/dist/antd.css';

*{
 
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  ::-webkit-scrollbar {
    width: 10px;
  }  
  ::-webkit-scrollbar-track {
    background: #5A5589;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #3B3763;
  }
    ::-webkit-scrollbar-thumb:hover {
    background: #3B3763;
  }
}



