.LandingPageHome{
    background: #3B3763;;
    color: white;
    position: relative;
}

.LandingPageBody{
    padding: 3% 15%;
    margin-top: 5%;
}


.HomePageTitle{
    font-weight: 500;
    font-size: 3rem;
}

.homePageImage{
    border: #fff 19px black;
    border-radius: 25px;
    padding-left: 5%;
    width: 100%;
    height: auto;
}

.HomePageBody{
    text-align: left;
}

.LandingPageHeroText{
    padding:1% 5%;
}

.LandingVectorContainer{
    z-index: 5;
}

.homePageVector{
    position: absolute;
    width: 100%;
    left: 0;
    top: 22%;
}



@media only screen and (max-width: 768px) {
    [class*="homePageImage"] {
        width: 90%;
        margin: 6% 0%; 
    }
} 

.HomePageFeatures{
    background: #3B3763;;
    padding: 5% 15%;
    color: white;
}

.FeaturesImage{
    padding: 4% 0%;
}

.FeaturesTitle{
    font-size: 2rem;
    font-weight: 600;
}

.FeaturesTextBody{
    font-weight: normal;
}

.homeBanner{
    background: #5A5589;
    padding: 3% 15%;
}

.HomeBannerPageTitle{
    font-size: 2.5rem;
    font-weight: 600;
}

.HomeBannerPageBody{
    font-weight: normal;
}